# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# PATH                                 OWNERS
*                                      @catawiki/fintech-backend
