version: 2.1
jobs:
  unit:
    parameters:
      ruby-version:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby-version >>
        environment:
          LOG_LEVEL: DEBUG
    steps:
      - checkout
      - run: ruby --version
      - run: sudo apt-get update && sudo apt-get install -y cmake # For installing snappy
      - run: bundle install --path vendor/bundle
      - run: bundle exec rspec
      - run: bundle exec rubocop

  kafka-with-wurstmeister:
  #TODO: replace with confluentinc/cp-kafka which is used in production
    parameters:
      kafka-version:
        type: string
      ruby-version:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby-version >>
        environment:
          LOG_LEVEL: DEBUG
      - image: wurstmeister/zookeeper
      - image: wurstmeister/kafka:<< parameters.kafka-version >>
        environment:
          KAFKA_ADVERTISED_HOST_NAME: localhost
          KAFKA_ADVERTISED_PORT: 9092
          KAFKA_PORT: 9092
          KAFKA_ZOOKEEPER_CONNECT: localhost:2181
          KAFKA_DELETE_TOPIC_ENABLE: true
      - image: wurstmeister/kafka:<< parameters.kafka-version >>
        environment:
          KAFKA_ADVERTISED_HOST_NAME: localhost
          KAFKA_ADVERTISED_PORT: 9093
          KAFKA_PORT: 9093
          KAFKA_ZOOKEEPER_CONNECT: localhost:2181
          KAFKA_DELETE_TOPIC_ENABLE: true
      - image: wurstmeister/kafka:<< parameters.kafka-version >>
        environment:
          KAFKA_ADVERTISED_HOST_NAME: localhost
          KAFKA_ADVERTISED_PORT: 9094
          KAFKA_PORT: 9094
          KAFKA_ZOOKEEPER_CONNECT: localhost:2181
          KAFKA_DELETE_TOPIC_ENABLE: true
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y cmake # For installing snappy
      - run: bundle install --path vendor/bundle
      - run: bundle exec rspec --profile --tag functional spec/functional

workflows:
  version: 2
  test:
    jobs:
      - unit:
          name: unit-ruby-<< matrix.ruby-version >>
          matrix:
            parameters:
              ruby-version: ['2.7', '3.0', '3.1', '3.2', '3.3']
      - kafka-with-wurstmeister:
          name: wurstmeister-kafka-<< matrix.kafka-version >>-ruby-<< matrix.ruby-version >>
          matrix:
            parameters:
              kafka-version:
                - "2.11-0.10.2.2"
                # 2.11 is the version of the docker image
                # 0.10.2.2 is the kafka version associated to the docker image
                # The image link is https://hub.docker.com/layers/wurstmeister/kafka/2.11-1.1.1/images/sha256-f72ab373c599d4253f7467601223a75313d2044ba477c41bef9ccc9d02bb04f7?context=explore
              ruby-version: ['2.7', '3.0', '3.1', '3.2', '3.3']
